{% extends "./index.html" %}

{% block title %} Edición de Materias {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Materias</h2>
        <div class="card">
            <div class="card-body"> 
                <form action="{% url 'editar_materia' materia.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtId" name="txtId" value="{{materia.id}}" class="form-control" placeholder="ID"
                            maxlength="50" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{materia.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" value="{{materia.descripcion}}" class="form-control" placeholder="Descripción"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <label>Selecciona una imagen</label>
                        <input type="file" id="imgFoto" name="imgFoto" class="form-control" accept="image/*">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar cambios</button>
                    </div>
                </form>                             
            </div>
        </div>
    </div>
</div>
{% endblock %}